<div class="width">
  <hgroup>
    <h1><%= link_to 'Trans*Resource US', root_path %></h1>
    <h2>Trans*Resource US allows users to add and discover services which empower and serve trans* and gender-variant people in their communities.</h2>
  </hgroup>
  <nav id="accessibility-links">
    <ul>
      <li><a href="#">Increase Contrast</a></li>
      <li><a href="#">Decrease Contrast</a></li>
    </ul>
  </nav>
  <aside id="social-responsive">
    <a href="#" class="social-toggle">Social Media +</a>
    <ul>
      <% @social_media_profiles.each do |profile| %>
        <%= content_tag(:li, :id => "social-#{profile.short_name}" ) do %>
          <%= link_to profile.name, profile.url, :target => "_blank", :title => profile.catchphrase %>
        <% end %>
      <% end %>
    </ul>
  </aside>
  <aside id="social">
    <ul>
      <% @social_media_profiles.each do |profile| %>
        <%= content_tag(:li, :id => "social-#{profile.short_name}" ) do %>
          <%= link_to profile.name, profile.url, :target => "_blank", :title => profile.catchphrase %>
        <% end %>
      <% end %>
    </ul>
  </aside>
</div>